In [1]:
# Create engine and connection to database
import pandas as pd
from sqlalchemy import create_engine


engine = create_engine("sqlite:///Database/Fraud_Transaction_Database.db")
conn = engine.connect()

In [3]:
# Query records from modeling dataframe
modeling_data = pd.read_sql("SELECT * FROM modeling_df", conn)

In [5]:
modeling_data.head()

,trxn_amt,qty,cust_age,fraudulent,acct_age_days,trxn_hour,year,month,day,pmt_method_PayPal,...,pmt_method_credit card,pmt_method_debit card,product_cat_clothing,product_cat_electronics,product_cat_health & beauty,product_cat_home & garden,product_cat_toys & games,cust_device_desktop,cust_device_mobile,cust_device_tablet
0,42.32,1,40,0,282,23,2024,3,24,True,...,False,False,False,True,False,False,False,True,False,False
1,301.34,3,35,0,223,0,2024,1,22,False,...,True,False,False,True,False,False,False,False,False,True
2,340.32,5,29,0,360,8,2024,1,22,False,...,False,True,False,False,False,False,True,True,False,False
3,95.77,5,45,0,325,20,2024,1,16,False,...,True,False,False,True,False,False,False,False,True,False
4,77.45,5,42,0,116,15,2024,1,16,False,...,True,False,True,False,False,False,False,True,False,False